.card {
    padding: 0;
}

/*.row {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

p {
    margin-bottom: 0 !important;
    padding-bottom: 10px !important;
}

.card {
    background-color: #eee;
}

.c-details span {
    font-weight: 300;
    font-size: 13px;
}

.icon {
    margin: 20px;
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
}

.badge {
    background: none !important;
}

.notification .badge {
    background: red !important;
}

.badge span {
    background: none !important;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.progress {
    height: 10px;
    border-radius: 10px;
}

.progress div {
    background-color: red;
}

.text1 {
    font-size: 14px;
    font-weight: 600;
}

.text2 {
    color: #a5aec0;
}

.ancient {
    color: #fa5448;
}

.emerging {
    color: #fed85d;
}

.newly {
    color: #ff1f2e;
}

.avatar-group {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

hr {
    margin: 0 !important;
}

.gr-name {
    line-height: 50px;
    font-size: 20px;
}

.gr-title {
    background: #e3e3e3;
}


.name-group {
    cursor: pointer;
}

.name-group:hover {
    font-size: large;
    transition: auto;
}

#chat1 .form-outline .form-control~.form-notch div {
    pointer-events: none;
    border: 1px solid;
    border-color: #eee;
    box-sizing: border-box;
    background: transparent;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-leading {
    left: 0;
    top: 0;
    height: 100%;
    border-right: none;
    border-radius: .65rem 0 0 .65rem;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-middle {
    flex: 0 0 auto;
    max-width: calc(100% - 1rem);
    height: 100%;
    border-right: none;
    border-left: none;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
    flex-grow: 1;
    height: 100%;
    border-left: none;
    border-radius: 0 .65rem .65rem 0;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: 0.125rem solid #39c0ed;
    border-bottom: 0.125rem solid #39c0ed;
    border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
    border-right: none;
    transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: 0.125rem solid;
    border-color: #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
    border-top: none;
    border-right: none;
    border-left: none;
    transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-top: 0.125rem solid #39c0ed;
    border-bottom: 0.125rem solid #39c0ed;
    border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
    border-left: none;
    transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-label {
    color: #39c0ed;
}

#chat1 .form-outline .form-control~.form-label {
    color: #bfbfbf;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.append-css-this {
    border-radius: 15px;
    background-color: #fbfbfb;
}

.append-css-that {
    border-radius: 15px;
    background-color: rgba(57, 192, 237, .2);
}

#bg-chat-area {
    width: 100%;
    position: absolute;
    background-color: #dfe7f5;
    height: 56%;
    left: 0px;
    top: 70px;
    opacity: 0.9;
}

.badge {
    margin-left: 20px;
    display: flex;
}

@media screen and (min-width: 1080px) {
    #chat-area {
        height: 300px;
        overflow-x: auto;
    }
}

.training {
    border: 1px solid #d3d3d3;
}

.gr-training-detail {
    padding: 10px;
    background: #e3e3e3;
}

.gr-training-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
}

.btn-training {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    width: 100px;
    border: 1px solid #222;
    padding: 10px;
    background: #222;
    color: white;
}

.btn-training:hover {
    background: lightgrey;
    color: black;
}

.card-header a {
    font-weight: 500;
    font-size: 25px;
    color: black;
}

.group-name {
    font-weight: 500;
    font-size: 25px;
    color: black;
}


.btn-group {
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: #6cbe4c;
    border-color: transparent;
    font-weight: 500;
    width: 200px;
}

.wp-group {
    width: 33.33%;
}

.wp-group-content {
    background: #dee0e2;
}

.wp-group-content {
    border: 1px solid #ccc;
    background: #fff;

}
.wp-group-content:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.descript-group {
    padding: 10px;
}

.c-details-group {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .wp-group {
        width: 50% !important;
    }
}

@media screen and (max-width: 600px) {
    #chat-area {
        height: 300px;
        overflow-x: auto;
    }

    .card-member {
        margin-top: 10px;
        width: 100% !important;
        padding: 0;
    }

    .card-chat {
        width: 100% !important;
        padding: 0;
    }
}
