.post-card {
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.post-content {
    background: #fff;
    border-radius: 12px;
    position: relative;
    margin-top: -30px ;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.post-meta {
    justify-content: start;
    margin-bottom: 5px;
    text-align: center;
}

.badge {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 12px;
}

.list-group a {
    text-decoration: none;
}

.list-group a:hover {
    background: #1996da;
    color: white;
}

.fw-bold {
   color: green !important;
}
