.tblResultLanding .tr-tournament-detail {
    display: block;
}

 .tblResultLanding .tournament-detail {
    display: flex;
    margin-bottom: 2px;
}
 .tblResultLanding .tournament-detail .inner-tournament-detail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

 .tblResultLanding .tournament-detail .inner-tournament-detail .description {
    display: flex;
    align-items: center;
}
.tblResultLanding .tournament-detail .inner-tournament-detail .country-detail .venue-country {
    display: flex;
    align-items: center;
    text-align: right;
}



.tblResultLanding .tournament-detail .inner-tournament-detail .description .image {
    margin-right: 32px;
    width: 160px;
    height: 160px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.country_code{
    margin-right: 10px;
}

.tblResultLanding .tournament-detail .inner-tournament-detail .country-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 767px) {
   .tblResultLanding .tournament-detail .inner-tournament-detail {
        /* flex-wrap: wrap;
        justify-content: center; */
    }
    }
@media (max-width: 467px){

     .tblResultLanding .tournament-detail .inner-tournament-detail .country-detail {
        justify-content: center;
         display: flex;
         flex-direction: column;
         align-items: flex-end;
    }
}


.item-active {
    border: solid 1px;
}

#modal-content {
    width: 750px;
    margin: auto;
    height: 500px;
    margin-left: -80px;
}

.image-modal-data {
    width: 200px;
    height: 150px;
}

.league-data {
    font-weight: 700
}

.image-user{
    width: 100px;
    height: 100px;
    margin: 10px;
}

h2 {
    font-weight: 400;
}
h4 {
    font-weight: 400;
}

.show-image-league {
    width: 160px;
    height: 160px;
}

@media screen and (max-width: 768px) {
    .tblResultLanding .tournament-detail .inner-tournament-detail .country-detail{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .tblResultLanding .tournament-detail .inner-tournament-detail .country-detail{
        display: none;
    }
    .tblResultLanding .tournament-detail .inner-tournament-detail {
        justify-content: center;
    }
    .tblResultLanding .tournament-detail .inner-tournament-detail .description{
        align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;
    }
    .tblResultLanding .tournament-detail .inner-tournament-detail .description .image{
        margin-right: 0;
    }
    .tblResultLanding .tournament-detail .inner-tournament-detail .description .info h3{padding-bottom: 0;}
}

ul.select-list {
    list-style: none;
    display: flex;
    margin: 12px 0;
    padding: 0;
    font-size: 16px;
    width: fit-content;
}

ul.select-list li {
    display: flex;
    align-items: center;
    text-align: center;
}

ul.select-list a {
    padding: 12px 24px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: background-color .35s ease-in-out;
}

ul.select-list li a {
    border-right: 2px solid #000;
    color: black;
    font-weight: 700px;
}

ul.select-list a.active, ul.select-list a:hover {
    color: gray;
    background-color: #fff;
}

ul.select-list li:nth-child(1) a {
    border-left: 2px solid  #000;
}

ul.select-list li :hover {
    background-color: red;
}

.btn-league {
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: #6cbe4c;
    border-color: transparent;
    font-weight: 500;
    width: 200px;
}

